name: Release new version
on:
  release:
    types: [ created ]
jobs:
  publish_docker_image:
    name: Compile & Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com/'
          scope: '@imagination-media'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      - run: npm ci
      - run: npm run build
      - run: npm publish
